html {
    box-sizing: border-box;
    background-color: #424B54;
}

body{
    margin: 0;
    padding: 0;
}

// Esto es para el contenedor de la barra de navegacion
.navbar-homepage {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #DBFF76;
        
        // Imagen
        img {
            height: 2rem;
            width: 3.5rem;
            padding: 10px;
        }
        
    }

    // Definir el tipo de letra para los apartados del navbar
    .nav {
        display: flex;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;

        // color del texto navbar
        & * {
            padding: 0 1rem;
            color: #93A8AC;

        // cambio de color al momento de pasar el mouse
        & *:hover {
            font-weight: 700;
            color: #CD8B76;
            cursor: pointer;
        }
    }
}

// Esto es para trabajar en el contenedor del espacio "About me"

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #93A8AC;
    margin: 3rem 0;

    img {
        height: 500px;
        width: 500px;
        padding: 50px;
        border-radius: 50%;
    }

    .about-me-descrip {
        padding: 50px;
        padding-left: 0;
    }

    .name {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3rem;
        color:#DBFF76;
    }

    p {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        font-size: 1.5rem;
    }

    .more-about-me {
        font-size: 1rem;
        padding-left: 1rem;

        
        &:hover {
            font-weight: 700;
            color: #CD8B76;
            cursor: pointer;
        }
    }
}

// Aqui empieza la parte de contenedor para los Hobbies

h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color:#DBFF76;

}

.hobbies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    // Esto es para la imagen 1 "Music"
    .music {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-music {
                visibility: visible;
            }

            .main-img {
                opacity: 0.2;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-music {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }

    // Esto es para la imagen 2 "Nature"
    .nature {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-nature {
                visibility: visible;
            }

            .main-img {
                opacity: 0.3;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-nature {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }


    // Esto es para la imagen 3 "Movies"
    .movies {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-movies {
                visibility: visible;
            }

            .main-img {
                opacity: 0.3;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-movies {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }

    // Esto es para la imagen 4 "Food"
    .food {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-food {
                visibility: visible;
            }

            .main-img {
                opacity: 0.3;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-food {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }

    // Esto es para la imagen 5 "Friends"
    .friends {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-friends {
                visibility: visible;
            }

            .main-img {
                opacity: 0.3;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-friends {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }

    // Esto es para la imagen 6 "Technology"
    .technology {
        display: flex;
        justify-content: center;
        position: relative;
        height: 200px;
        width: 300px;
        margin: 4rem;
        border-radius: 5%;
        border: solid 2px #DBFF76;

        &:hover {
            border: solid 6px #CD8B76;
            transition: 0.2s;

            .appear-technology {
                visibility: visible;
            }

            .main-img {
                opacity: 0.3;
                transition: 0.4s;
            }
        }

        .main-img {
            position: absolute;
            height: 100%;
            width: 100%; 
            border-radius: 2%; 
            z-index: -1;
            
        }

        .appear-technology {
            visibility: hidden;
            display: block;
            text-align: center;

            .sub-img {
                position: relative;
                height: 100px;
                width: 100px;
                z-index: 2;

            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 1rem;
                color: #DBFF76;

            }

        }
        
    }
}

.studies-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "studies projects";
    color: #93A8AC;

    .studies {
        grid-area: studies;
        display: flex;
        flex-direction: column;
        padding-left: 8rem;
        padding-right: 2rem;

        font-family: "Lato", sans-serif;

        h3 {
            color: #CD8B76;
        }
        
        // Aqui se da estilo al estudio de web development
        .studies-web-dev {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .studies-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            
        }

        // Aqui se da estilo al estudio de industrial Engineer
        .studies-ind-eng {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .studies-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            
        }

        // Aqui se da estilo al estudio de HTML
        .studies-html {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .html-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            
        }

        // Aqui se da estilo al estudio de CSS
        .studies-css {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .css-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            
        }

        // Aqui se da estilo al estudio de Excel
        .studies-excel {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .excel-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            
        }


    }



    .projects {
        grid-area: projects;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;

        font-family: "Lato", sans-serif;

        h3 {
            color: #CD8B76;
        }
        
        // Aqui se da estilo al proyecto de payment
        .project-payment {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .studies-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

        // Aqui se da estilo al proyecto de cnotrol documental
        .project-documental {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .documental-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

        // Aqui se da estilo al proyecto de packaging
        .project-packaging {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .packaging-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

        // Aqui se da estilo al proyecto de ecommerce
        .project-ecommerce {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .ecommerce-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

        // Aqui se da estilo al proyecto de logistic
        .project-logistic {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .logistic-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

        // Aqui se da estilo al proyecto de compras internacionales
        .project-international {
            display: grid;
            grid-template-columns: 1fr 7fr;
            grid-template-areas: 
                "image text";
            margin: 2rem 0;

            img {
                grid-area: image;
                margin-right: 1rem;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
            }

            .international-text {
                grid-area: text;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }     
        }

    } 
}
