html {
  box-sizing: border-box;
  background-color: #424B54;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-homepage {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #DBFF76;
}
.navbar-homepage img {
  height: 2rem;
  width: 3.5rem;
  padding: 10px;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.nav * {
  padding: 0 1rem;
  color: #93A8AC;
}
.nav * *:hover {
  font-weight: 700;
  color: #CD8B76;
  cursor: pointer;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #93A8AC;
  margin: 3rem 0;
}
.about-me img {
  height: 500px;
  width: 500px;
  padding: 50px;
  border-radius: 50%;
}
.about-me .about-me-descrip {
  padding: 50px;
  padding-left: 0;
}
.about-me .name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: #DBFF76;
}
.about-me p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: 1.5rem;
}
.about-me .more-about-me {
  font-size: 1rem;
  padding-left: 1rem;
}
.about-me .more-about-me:hover {
  font-weight: 700;
  color: #CD8B76;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #DBFF76;
}

.hobbies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hobbies .music {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .music:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .music:hover .appear-music {
  visibility: visible;
}
.hobbies .music:hover .main-img {
  opacity: 0.2;
  transition: 0.4s;
}
.hobbies .music .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .music .appear-music {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .music .appear-music .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .music .appear-music p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}
.hobbies .nature {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .nature:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .nature:hover .appear-nature {
  visibility: visible;
}
.hobbies .nature:hover .main-img {
  opacity: 0.3;
  transition: 0.4s;
}
.hobbies .nature .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .nature .appear-nature {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .nature .appear-nature .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .nature .appear-nature p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}
.hobbies .movies {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .movies:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .movies:hover .appear-movies {
  visibility: visible;
}
.hobbies .movies:hover .main-img {
  opacity: 0.3;
  transition: 0.4s;
}
.hobbies .movies .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .movies .appear-movies {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .movies .appear-movies .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .movies .appear-movies p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}
.hobbies .food {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .food:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .food:hover .appear-food {
  visibility: visible;
}
.hobbies .food:hover .main-img {
  opacity: 0.3;
  transition: 0.4s;
}
.hobbies .food .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .food .appear-food {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .food .appear-food .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .food .appear-food p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}
.hobbies .friends {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .friends:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .friends:hover .appear-friends {
  visibility: visible;
}
.hobbies .friends:hover .main-img {
  opacity: 0.3;
  transition: 0.4s;
}
.hobbies .friends .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .friends .appear-friends {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .friends .appear-friends .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .friends .appear-friends p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}
.hobbies .technology {
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
  width: 300px;
  margin: 4rem;
  border-radius: 5%;
  border: solid 2px #DBFF76;
}
.hobbies .technology:hover {
  border: solid 6px #CD8B76;
  transition: 0.2s;
}
.hobbies .technology:hover .appear-technology {
  visibility: visible;
}
.hobbies .technology:hover .main-img {
  opacity: 0.3;
  transition: 0.4s;
}
.hobbies .technology .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  z-index: -1;
}
.hobbies .technology .appear-technology {
  visibility: hidden;
  display: block;
  text-align: center;
}
.hobbies .technology .appear-technology .sub-img {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.hobbies .technology .appear-technology p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #DBFF76;
}

.studies-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "studies projects";
  color: #93A8AC;
}
.studies-projects .studies {
  grid-area: studies;
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 2rem;
  font-family: "Lato", sans-serif;
}
.studies-projects .studies h3 {
  color: #CD8B76;
}
.studies-projects .studies .studies-web-dev {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .studies .studies-web-dev img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .studies .studies-web-dev .studies-text {
  grid-area: text;
}
.studies-projects .studies .studies-web-dev h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .studies .studies-web-dev p {
  margin: 0;
}
.studies-projects .studies .studies-ind-eng {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .studies .studies-ind-eng img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .studies .studies-ind-eng .studies-text {
  grid-area: text;
}
.studies-projects .studies .studies-ind-eng h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .studies .studies-ind-eng p {
  margin: 0;
}
.studies-projects .studies .studies-html {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .studies .studies-html img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .studies .studies-html .html-text {
  grid-area: text;
}
.studies-projects .studies .studies-html h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .studies .studies-html p {
  margin: 0;
}
.studies-projects .studies .studies-css {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .studies .studies-css img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .studies .studies-css .css-text {
  grid-area: text;
}
.studies-projects .studies .studies-css h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .studies .studies-css p {
  margin: 0;
}
.studies-projects .studies .studies-excel {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .studies .studies-excel img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .studies .studies-excel .excel-text {
  grid-area: text;
}
.studies-projects .studies .studies-excel h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .studies .studies-excel p {
  margin: 0;
}
.studies-projects .projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Lato", sans-serif;
}
.studies-projects .projects h3 {
  color: #CD8B76;
}
.studies-projects .projects .project-payment {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-payment img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-payment .studies-text {
  grid-area: text;
}
.studies-projects .projects .project-payment h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-payment p {
  margin: 0;
}
.studies-projects .projects .project-documental {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-documental img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-documental .documental-text {
  grid-area: text;
}
.studies-projects .projects .project-documental h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-documental p {
  margin: 0;
}
.studies-projects .projects .project-packaging {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-packaging img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-packaging .packaging-text {
  grid-area: text;
}
.studies-projects .projects .project-packaging h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-packaging p {
  margin: 0;
}
.studies-projects .projects .project-ecommerce {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-ecommerce img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-ecommerce .ecommerce-text {
  grid-area: text;
}
.studies-projects .projects .project-ecommerce h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-ecommerce p {
  margin: 0;
}
.studies-projects .projects .project-logistic {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-logistic img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-logistic .logistic-text {
  grid-area: text;
}
.studies-projects .projects .project-logistic h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-logistic p {
  margin: 0;
}
.studies-projects .projects .project-international {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: "image text";
  margin: 2rem 0;
}
.studies-projects .projects .project-international img {
  grid-area: image;
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.studies-projects .projects .project-international .international-text {
  grid-area: text;
}
.studies-projects .projects .project-international h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.studies-projects .projects .project-international p {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
